.container{
	width: 835px;
	height: 500px;
	border: 3px solid #999;
	margin: 20px;
	background: url(http://www.miankoutu.com/uploadfiles/2015-11-20/20151120214636581.png) center no-repeat, url(http://www.winwalls.ru/pic/201305/240x320/winwalls.ru-46891.jpg);
	}
